.image-container {
    background-color: #c71e1b;
    width: 100%;
}

.image-container img{
    display: flex;    
    justify-content: center;
    width: 90%;
    height: 176px;
    padding: 10px 20px 0 20px;
}

.text-container{
    position: static;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Lato';
    font-size: 19px;
    text-align: center;
    color: #000000;
    background-color: #f5e8a5;
}