.home-container p{
    text-align: center;
    padding: 8px;
    font-size: 20px;
}

.options-bar{
    display: flex;
}


.ubicacion span{
    color: #000000;
    display: grid;
    justify-content: center;
    margin: 5px;
}

.menu{
    height: 345px;
    overflow-y: scroll;
}

.ubicacion{
    margin: 10px;
    height: 300px;
    display: none;
}

.contactos{
    display: grid;
    font-size: 14px;
    color: red;
    padding-bottom: 10px;
    display: none;
}

.ubicacion img{
    height: 55%;
    display: grid;
    align-items: center;
    justify-content: center;
     
}

.contactos div{
    justify-items: center;
    align-items: center;
    padding: 5px;
}

.contactos span{
    color: #000000;
    padding: 5px;
}