.reserve-container{
    margin: 10px;
    overflow-y: scroll;
    height: 620px;
}

.before-reserve{
    align-items: center;
    text-align: center;
    font-size: 20px;
}

.post-reserve{
    display: none;
}
