.reserve-container{
    text-align: center;
    height: 300px;
}
.reserve-container select{
    background-color: #A93528;
    margin: 5px;
    text-align: center;
    width: 50%;
    height: 30px;
    font-size: 16px;
}

.reserve-container select option{
    background-color: #D9D9D9;
}

.reserve-header{
    display: flex;
}

.reserve-container img{
    margin: 5px;
}
