.image-container {
    width: 100%;
}

.image-container img{
    display: flex;    
    
    width: 100%;
}

.text-container{
    position: static;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Lato';
    font-size: 19px;
    text-align: center;
    color: #000000;
    background-color: #f5e8a5;
}