.qualification-container{
    background-color: #f5e8a5;
    height: auto;
    margin: 10px;
    padding: 10px;
    display: grid;
    position: relative;
    border-radius: 8px;
}

.rank{
    font-size: 14px;
    align-items: center;
    padding-bottom: 5px;
    position: sticky;
}

.rank input{ 
    width: 20px;
    text-align: center;
    height: 10px;
    outline: none;
}

.button{
    position: absolute;
    top: 12px;
    right: 8px;
    padding: 12px 6px;
    font-size: 28px;
}

.comment{
    width: 80%;
    margin-bottom: 2px;
    height: 20px;
    border-radius: 8px;
    border: 0px;
}