.state-container{
    background-color: #ff5050;
    margin: 5px;
    width: 95%;
    height: 35px;
    font-size: 19px;
    border: 2px solid #000;
    border-radius: 20px;
    display: grid;
    place-items: center;
    color: aliceblue;
}
